@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: mistyrose;
}
.app_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    gap: 20px;
}
.taskForm{
    display: flex; 
    align-items: stretch;


}
.taskInput{
    padding: 15px;
    border: none;

    border-radius: 25px 0px 0px 25px;
    font-size: 16px;
}
.addTaskButton{
    background-color: red;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 0px 25px 25px 0px;
    font-size: 16px;
    cursor: pointer;
}
.task{
    text-decoration: underline;
    font-weight: bold;
}
.strike{
    text-decoration: line-through;
    opacity:0.5;
}